MATH/
.DS_Store
.env
embeddings.csv
validated.jsonl
venv/
__pycache__
math_dataset_clean.jsonl
scripts/
jsonls/
embeddings.csv
results.txt
my_model.keras
hardmath.json
checkpoint
*.jsonl
*.csv
*.txt
*.keras
*.json
*.png
*.pkl
